.Container3{
    height: 90vh;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    display: flex;
    justify-content: center;
    background-color: rgb(239, 7, 7);
    color: white;
}
.Container3 .one{
    /* border: 2px solid red; */
    width: 35%;
    margin-left: 130px;
    margin-top: 100px;
    
}
.Container3 .one h1{
  font-size: 50px;
  line-height: 35px;
}
.Container3 .one button{
    height: 48px;
    width: 170px;
    border-radius: 30px;
    border: navajowhite;
    cursor: pointer;

}